[class*="col-"] {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-white {
  color: white; }

.text-roman-coffee {
  color: #775c50; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

@media screen and (max-width: 575.98px) {
  .col-xs-1 {
    width: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; }

  #headerArea {
    padding-bottom: 0 !important; }
    #headerArea .main-header {
      display: none; }
    #headerArea .small-header {
      display: block !important; }
    #headerArea .left-side-nav .sub-navigation {
      display: none; }

  #mainSlider {
    top: 80px; }
    #mainSlider .main-slider-header {
      top: 15% !important; }
      #mainSlider .main-slider-header h1 {
        font-size: 35px !important; }
    #mainSlider .main-slider-photos .owl-nav {
      width: 80% !important;
      top: 55% !important; }

  #mainContent .content {
    padding: 60px 20px !important; }
    #mainContent .content-header h1 {
      font-size: 35px; }
    #mainContent .content-text p {
      font-size: 20px !important; }
  #mainContent .content-images-list {
    display: none; }

  #members .members-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #members .members-list-item {
      margin-bottom: 5%; }

  #momentsSlider {
    display: none; }

  #department .row {
    display: block; }
    #department .row .container-img {
      width: 100%;
      height: 450px; }
      #department .row .container-img .department-content {
        top: 8% !important;
        padding: 75px 0 !important; }
        #department .row .container-img .department-content h1 a {
          font-size: 3em !important; }

  #marisByExperiences .header-title h1 {
    font-size: 35px; }
  #marisByExperiences .maris-by-experiences-list-item {
    display: block; }
    #marisByExperiences .maris-by-experiences-list-item .experience-photo {
      width: 100% !important; }
    #marisByExperiences .maris-by-experiences-list-item .experience-content {
      padding: 20px 25px !important;
      width: 100% !important; }
      #marisByExperiences .maris-by-experiences-list-item .experience-content .header-title {
        padding: 18px 0; }

  footer .footer-main-contacts .get-in-touch {
    padding: 0 !important; }
    footer .footer-main-contacts .get-in-touch .address {
      display: none; }
    footer .footer-main-contacts .get-in-touch-details {
      margin-bottom: 10%; }
  footer .footer-main-contacts nav ul {
    display: block; }
    footer .footer-main-contacts nav ul li {
      padding: 10px 0;
      text-align: center; }
  footer .footer-main-contacts .members-list {
    display: block;
    padding: 10px 0 !important; }
    footer .footer-main-contacts .members-list-item {
      padding: 10px 0; }
  footer .footer-partners-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  #headerArea {
    padding-bottom: 0 !important; }
    #headerArea .main-header {
      display: none; }
    #headerArea .small-header {
      display: block !important; }
    #headerArea .left-side-nav .sub-navigation {
      display: none; }

  #mainSlider {
    top: 100px; }
    #mainSlider .main-slider-header h1 {
      font-size: 35px !important; }
    #mainSlider .main-slider-photos .owl-nav {
      width: 90% !important;
      top: 55% !important; }

  #mainContent .content {
    padding: 60px 110px !important; }
    #mainContent .content-header h1 {
      font-size: 40px; }
  #mainContent .content-images-list {
    height: 700px; }
    #mainContent .content-images-list .img-first {
      height: 225px !important; }
    #mainContent .content-images-list .img-second {
      height: 250px !important; }
    #mainContent .content-images-list .img-third {
      top: 33% !important;
      height: 500px !important; }
    #mainContent .content-images-list .img-fourth {
      height: 190px !important; }

  #members .members-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #members .members-list-item {
      margin-bottom: 5%; }

  #momentsSlider {
    display: none; }

  #department .row {
    display: block; }
    #department .row .container-img {
      width: 100%;
      height: 550px; }

  #marisByExperiences .header-title h1 {
    font-size: 35px; }
  #marisByExperiences .maris-by-experiences-list-item {
    display: block; }
    #marisByExperiences .maris-by-experiences-list-item .experience-photo {
      width: 100% !important; }
    #marisByExperiences .maris-by-experiences-list-item .experience-content {
      padding: 20px 25px !important;
      width: 100% !important; }
      #marisByExperiences .maris-by-experiences-list-item .experience-content .header-title {
        padding: 18px 0; }

  footer .footer-main-contacts .get-in-touch .address {
    display: none; }
  footer .footer-main-contacts .get-in-touch-details {
    margin-bottom: 10%; }
  footer .footer-main-contacts .members-list {
    display: block; }
    footer .footer-main-contacts .members-list-item {
      padding: 10px 0; }
  footer .footer-partners-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  #headerArea .left-side-nav .left-side-nav-content .sub-navigation {
    display: none; }

  #mainSlider .main-slider-header h1 {
    font-size: 60px !important; }
  #mainSlider .main-slider-photos .owl-nav {
    width: 90% !important; }

  #mainContent .content {
    padding: 60px 110px !important; }
    #mainContent .content-header h1 {
      font-size: 40px; }
  #mainContent .content-images-list {
    height: 700px; }
    #mainContent .content-images-list .img-first {
      height: 225px !important; }
    #mainContent .content-images-list .img-second {
      height: 250px !important; }
    #mainContent .content-images-list .img-third {
      top: 33% !important;
      height: 500px !important; }
    #mainContent .content-images-list .img-fourth {
      height: 190px !important; }

  #department {
    height: 450px !important; }
    #department .department-content {
      padding: 75px 20px !important;
      top: 8% !important; }
      #department .department-content h1 a {
        font-size: 3.1em !important; }

  #marisByExperiences .header-title h1 {
    font-size: 35px; }
  #marisByExperiences .maris-by-experiences-list-item .experience-content {
    padding: 0px 25px !important; }
    #marisByExperiences .maris-by-experiences-list-item .experience-content .header-title {
      padding: 18px 0; }

  footer .footer-main-contacts nav ul li {
    margin-right: 0 !important; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  #mainSlider .main-slider-photos .owl-nav {
    width: 92% !important; }

  #mainContent .content-header h1 {
    font-size: 35px; }
  #mainContent .content-text p {
    font-size: 20px !important; }
  #mainContent .content-images-list .img-first {
    height: 220px !important; }
  #mainContent .content-images-list .img-second {
    height: 280px !important; }
  #mainContent .content-images-list .img-third {
    height: 520px !important; }
  #mainContent .content-images-list .img-fourth {
    top: 78% !important;
    height: 180px !important; }

  #marisByExperiences .header-title h1 {
    font-size: 40px; }
  #marisByExperiences .maris-by-experiences-list-item .experience-content {
    padding: 0px 40px !important; }
    #marisByExperiences .maris-by-experiences-list-item .experience-content .header-title {
      padding: 25px 0; } }
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
#headerArea .menu .open-btn, #headerArea .menu .open-btn i, #headerArea .reservation ul li a {
  font-size: 20px;
  color: white; }

#headerArea .menu .open-btn, #headerArea .small-header .header-wrapper .menu .open-btn, #headerArea .small-header .header-wrapper .call-us .call-btn {
  background-color: transparent;
  border: none;
  outline: none; }

#headerArea {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-bottom: 10px;
  -webkit-transition: 0.1 ease;
  transition: 0.1 ease; }
  #headerArea .menu .open-btn {
    margin-left: 5px; }
  #headerArea .logo-img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 15px; }
    #headerArea .logo-img img {
      width: 100%; }
  #headerArea .reservation ul {
    padding-right: 20px; }
    #headerArea .reservation ul li {
      padding-left: 10px; }
  #headerArea .small-header {
    display: none;
    padding-top: 10px; }
    #headerArea .small-header .header-wrapper {
      padding-bottom: 10px; }
      #headerArea .small-header .header-wrapper .menu .open-btn {
        font-size: 25px;
        color: white; }
      #headerArea .small-header .header-wrapper .logo .logo-photo {
        width: 100%; }
        #headerArea .small-header .header-wrapper .logo .logo-photo img {
          width: 30%; }
      #headerArea .small-header .header-wrapper .call-us .call-btn {
        font-size: 25px;
        color: white; }
    #headerArea .small-header .booking {
      background-color: white;
      padding: 7px 0; }
      #headerArea .small-header .booking a {
        color: #775c50; }

.scrolled {
  background-color: white;
  -webkit-box-shadow: 0 0 7px 0px #b7b2b2;
          box-shadow: 0 0 7px 0px #b7b2b2; }
  .scrolled .menu .open-btn {
    color: #775c50 !important; }
    .scrolled .menu .open-btn .icon-menu {
      color: #775c50 !important; }
  .scrolled .reservation ul li a {
    color: #775c50 !important; }
  .scrolled .reservation .btn-booking {
    border-bottom: 1px solid #775c50; }
    .scrolled .reservation .btn-booking a {
      color: #775c50 !important; }

.left-side-nav {
  display: none; }

.header-small {
  background-color: #775c50; }

footer .footer-main-contacts {
  background-image: url("../images/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center; }
  footer .footer-main-contacts .get-in-touch {
    padding: 20px 0; }
    footer .footer-main-contacts .get-in-touch-details h1 {
      font-size: 25px;
      color: #775c50;
      line-height: 1.8; }
    footer .footer-main-contacts .get-in-touch-details p {
      line-height: 1.6;
      color: #55565a; }
    footer .footer-main-contacts .get-in-touch-details .mail-address {
      color: #55565a;
      display: inline-block;
      margin-top: 12%; }
    footer .footer-main-contacts .get-in-touch-details .social-networks-list {
      margin: 15px auto; }
      footer .footer-main-contacts .get-in-touch-details .social-networks-list-item {
        margin-right: 4%; }
        footer .footer-main-contacts .get-in-touch-details .social-networks-list-item a {
          font-size: 20px;
          padding: 6px;
          background-color: #775c50;
          border-radius: 50%;
          color: white; }
  footer .footer-main-contacts nav {
    padding-top: 10px;
    padding-bottom: 20px; }
    footer .footer-main-contacts nav ul li {
      margin-right: 3%; }
      footer .footer-main-contacts nav ul li a {
        font-size: 20px;
        color: #775c50;
        font-weight: 600;
        position: relative; }
        footer .footer-main-contacts nav ul li a::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: #775c50;
          top: 30px;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: 0.4s linear;
          transition: 0.4s linear; }
        footer .footer-main-contacts nav ul li a:hover::after {
          opacity: 1;
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }
  footer .footer-main-contacts .copyright {
    padding-top: 25px;
    padding-bottom: 30px; }
    footer .footer-main-contacts .copyright p {
      font-size: 10px;
      color: #55565a; }
  footer .footer-main-contacts .members-list {
    padding: 45px 0; }
footer .footer-partners-list {
  background-color: #f1e8e6;
  padding: 40px 0; }
  footer .footer-partners-list-item {
    padding: 15px; }
    footer .footer-partners-list-item a {
      display: inline-block;
      max-width: 100px; }
      footer .footer-partners-list-item a img {
        width: 100%; }

#mainSlider .main-slider-photos .owl-dots, #momentsSlider .moments-slider-photos .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 112; }
  #mainSlider .main-slider-photos .owl-dots .owl-dot, #momentsSlider .moments-slider-photos .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: white;
    margin: 0 3px; }
  #mainSlider .main-slider-photos .owl-dots .active, #momentsSlider .moments-slider-photos .owl-dots .active {
    background-color: #7b7676; }

#mainSlider {
  position: relative;
  z-index: 111;
  height: 100vh; }
  #mainSlider .main-slider-header {
    position: absolute;
    z-index: 113;
    top: 35%;
    left: 7%; }
    #mainSlider .main-slider-header h1 {
      color: white;
      font-size: 75px;
      text-align: center; }
  #mainSlider .main-slider-photos {
    height: 100%; }
    #mainSlider .main-slider-photos .slider-photo-item {
      height: 100vh; }
      #mainSlider .main-slider-photos .slider-photo-item img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    #mainSlider .main-slider-photos .owl-nav {
      position: absolute;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 95%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 50px;
      color: white;
      top: 50%;
      padding: 0 30px;
      z-index: 111; }
    #mainSlider .main-slider-photos .owl-dots {
      top: 80%; }
    #mainSlider .main-slider-photos::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: 11;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.2; }

#momentsSlider {
  position: relative;
  height: 550px; }
  #momentsSlider .moments-slider-photos {
    position: relative;
    height: 550px; }
    #momentsSlider .moments-slider-photos .moments-slider-photo-item {
      height: 550px; }
      #momentsSlider .moments-slider-photos .moments-slider-photo-item img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    #momentsSlider .moments-slider-photos .owl-dots {
      top: 90%; }
    #momentsSlider .moments-slider-photos::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: 11;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.2; }
  #momentsSlider .moments-slider-photos-content {
    position: absolute;
    top: 0; }
    #momentsSlider .moments-slider-photos-content .moments-slider-photo-item-content {
      margin-top: 5%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0px 40px; }
      #momentsSlider .moments-slider-photos-content .moments-slider-photo-item-content .content-details {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 15px 95px;
        border: 5px solid white; }
        #momentsSlider .moments-slider-photos-content .moments-slider-photo-item-content .content-details h4 {
          font-size: 20px;
          color: white; }
        #momentsSlider .moments-slider-photos-content .moments-slider-photo-item-content .content-details .title {
          width: 60%;
          margin: 3% auto; }
          #momentsSlider .moments-slider-photos-content .moments-slider-photo-item-content .content-details .title h1 a {
            font-size: 50px;
            color: white; }

#mainContent {
  background-image: url("../images/bg-wrapper.png");
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 50px; }
  #mainContent .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 70px 50px; }
    #mainContent .content-text {
      margin-top: 50px; }
      #mainContent .content-text p {
        font-size: 25px;
        letter-spacing: 0.3;
        letter-spacing: 0.3px;
        line-height: 1.1;
        padding-bottom: 25px;
        color: #55565a; }
    #mainContent .content-images-list {
      position: relative; }
      #mainContent .content-images-list-item {
        position: absolute; }
      #mainContent .content-images-list .img-first {
        height: 250px;
        width: 60%;
        top: -2%;
        left: 25%; }
        #mainContent .content-images-list .img-first img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-second {
        width: 60%;
        height: 320px;
        top: 36%;
        left: 3%; }
        #mainContent .content-images-list .img-second img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-third {
        left: 66%;
        top: 30%;
        width: 35%;
        height: 550px; }
        #mainContent .content-images-list .img-third img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-fourth {
        top: 75%;
        left: 18%;
        width: 45%;
        height: 230px; }
        #mainContent .content-images-list .img-fourth img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }

.content-header h1 {
  font-size: 65px;
  color: #55565a;
  line-height: 1.1; }

.btn-underline {
  margin-top: 10%; }
  .btn-underline a {
    font-size: 1.2em;
    letter-spacing: 0.45px;
    position: relative; }
    .btn-underline a::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: #775c50;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      -webkit-transition: 0.4s linear;
      transition: 0.4s linear; }
    .btn-underline a:hover::after {
      opacity: 1;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); }

.btn-basic {
  margin-top: 25%; }
  .btn-basic a {
    font-size: 1.2em; }

.btn-booking {
  background-color: transparent;
  border: none;
  padding: 0px;
  border-bottom: 1px solid white;
  float: right; }
  .btn-booking a {
    font-size: 20px;
    color: white; }

#members {
  background-image: url("../images/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 40px; }
  #members h1 {
    font-size: 25px;
    line-height: 2; }
  #members .members-list {
    padding-top: 20px;
    padding-bottom: 20px; }
    #members .members-list-item img {
      -o-object-fit: cover;
         object-fit: cover; }

#department .container-img .restaurants, #department .container-img .bodyism {
  height: 550px;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow: hidden; }
  #department .container-img .restaurants .department-content, #department .container-img .bodyism .department-content {
    position: absolute;
    z-index: 111;
    border: 5px solid white;
    width: 70%;
    height: 65%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 75px 45px;
    top: 18%;
    left: 14%; }
    #department .container-img .restaurants .department-content h1 a, #department .container-img .bodyism .department-content h1 a {
      font-size: 3.5em; }
  #department .container-img .restaurants::after, #department .container-img .bodyism::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.3; }

#department {
  width: 100%;
  z-index: 111;
  overflow: hidden; }
  #department .container-img {
    overflow: hidden;
    width: 50%; }
    #department .container-img .restaurants {
      background-image: url("../images/RH-0449-D_Marisedited.534dbc6e4f384855f885f656692a6a22.jpg"); }
    #department .container-img .bodyism {
      background-image: url("../images/DMarisBay_Bodyism.7bafba6a88af78251a4abeb6b79b42fe.jpg"); }
    #department .container-img:hover .restaurants {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    #department .container-img:hover .bodyism {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.header-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 65px 0; }
  .header-title h1 {
    color: #55565a;
    font-size: 50px; }
    .header-title h1 a {
      color: #55565a; }

#marisByExperiences {
  padding-top: 25px;
  padding-bottom: 90px; }
  #marisByExperiences .maris-by-experiences-list-item {
    width: 100%;
    margin-top: 5%; }
    #marisByExperiences .maris-by-experiences-list-item .experience-photo {
      width: 50%;
      overflow: hidden; }
      #marisByExperiences .maris-by-experiences-list-item .experience-photo a {
        display: inline-block; }
        #marisByExperiences .maris-by-experiences-list-item .experience-photo a img {
          width: 100%;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease; }
    #marisByExperiences .maris-by-experiences-list-item .experience-content {
      width: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 30px 65px; }
      #marisByExperiences .maris-by-experiences-list-item .experience-content p {
        font-size: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding-right: 20px;
        line-height: 1.5; }
    #marisByExperiences .maris-by-experiences-list-item:hover .experience-photo a img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.left-side-nav {
  position: fixed;
  z-index: 111111;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7); }
  .left-side-nav-content {
    height: 100%; }
    .left-side-nav-content .main-nav {
      overflow: auto;
      height: 100%;
      background-color: #faf9f9;
      width: 600px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 30px 100px 60px 100px; }
      .left-side-nav-content .main-nav .close-btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #775c50;
        outline: none; }
        .left-side-nav-content .main-nav .close-btn .icon-cancel {
          color: #775c50;
          padding-right: 5px;
          font-size: 14px; }
      .left-side-nav-content .main-nav .btn-booking {
        border-bottom: 1px solid #775c50; }
        .left-side-nav-content .main-nav .btn-booking a {
          color: #775c50;
          font-size: 16px; }
      .left-side-nav-content .main-nav ul {
        margin-top: 5%; }
        .left-side-nav-content .main-nav ul li {
          padding: 12px 0; }
          .left-side-nav-content .main-nav ul li a {
            color: #775c50;
            font-size: 30px; }
      .left-side-nav-content .main-nav .service {
        margin-top: 10%; }
        .left-side-nav-content .main-nav .service li {
          padding: 10px 0; }
          .left-side-nav-content .main-nav .service li a {
            font-size: 19px; }
    .left-side-nav-content .sub-navigation {
      min-width: 250px;
      background-color: #775c50;
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 30px; }
      .left-side-nav-content .sub-navigation::after {
        content: "";
        position: absolute;
        height: 100%;
        border-top: 100vh solid transparent;
        border-left: 15px solid #775c50;
        top: 0;
        right: 0;
        bottom: 0; }
      .left-side-nav-content .sub-navigation ul li {
        padding: 15px 0; }
        .left-side-nav-content .sub-navigation ul li a {
          color: white;
          font-size: 19px; }

.lock-body {
  position: relative;
  overflow: hidden;
  height: 100%; }

/*# sourceMappingURL=main.css.map */