[class*="col-"] {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-white {
  color: white; }

.text-roman-coffee {
  color: #775C50; }

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%; }

  .col-xl-2 {
    width: 16.6666666667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.3333333333%; }

  .col-xl-5 {
    width: 41.6666666667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.3333333333%; }

  .col-xl-8 {
    width: 66.6666666667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.3333333333%; }

  .col-xl-11 {
    width: 91.6666666667%; }

  .col-xl-12 {
    width: 100%; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media screen and (max-width: 575.98px) {
  .col-xs-1 {
    width: 8.3333333333%; }

  .col-xs-2 {
    width: 16.6666666667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.3333333333%; }

  .col-xs-5 {
    width: 41.6666666667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.3333333333%; }

  .col-xs-8 {
    width: 66.6666666667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.3333333333%; }

  .col-xs-11 {
    width: 91.6666666667%; }

  .col-xs-12 {
    width: 100%; } }
#headerArea nav .menu i, #headerArea nav .menu span, #headerArea .reservation ul li a, #headerArea .reservation h1 a {
  font-size: 20px;
  color: white; }

#headerArea {
  position: fixed;
  height: 125px;
  z-index: 1000;
  -webkit-transition: 0.1 ease;
  transition: 0.1 ease; }
  #headerArea nav .menu span {
    margin-left: 5px; }
  #headerArea .logo-img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 15px; }
    #headerArea .logo-img img {
      width: 100%; }
  #headerArea .reservation ul li {
    padding: 0 10px; }
  #headerArea .reservation h1 {
    padding-left: 30px; }
    #headerArea .reservation h1 a::after {
      content: "";
      position: absolute;
      width: 7%;
      height: 2px;
      background-color: white;
      right: 10%;
      top: 70px; }

.scrolled {
  background-color: white;
  -webkit-box-shadow: 0 0 7px 0px #b7b2b2;
          box-shadow: 0 0 7px 0px #b7b2b2; }

#mainSlider {
  position: relative;
  z-index: 111;
  height: 100vh; }
  #mainSlider .main-slider-header {
    position: absolute;
    z-index: 113;
    top: 35%;
    left: 7%; }
    #mainSlider .main-slider-header h1 {
      color: white;
      font-size: 75px;
      text-align: center; }
  #mainSlider .main-slider-photos {
    height: 100%; }
    #mainSlider .main-slider-photos .slider-photo-item {
      height: 100vh; }
      #mainSlider .main-slider-photos .slider-photo-item img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    #mainSlider .main-slider-photos .owl-nav {
      position: absolute;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 95%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 50px;
      color: white;
      top: 50%;
      padding: 0 30px;
      z-index: 111; }
    #mainSlider .main-slider-photos .owl-dots {
      position: absolute;
      top: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      z-index: 112; }
      #mainSlider .main-slider-photos .owl-dots .owl-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        background: white;
        margin: 0 3px; }
      #mainSlider .main-slider-photos .owl-dots .active {
        background-color: #7b7676; }
    #mainSlider .main-slider-photos::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: 11;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.2; }

#mainContent {
  background-image: url("../images/bg-wrapper.png");
  background-repeat: no-repeat;
  padding-top: 45px; }
  #mainContent .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 70px 50px; }
    #mainContent .content-text {
      margin-top: 50px; }
      #mainContent .content-text p {
        font-size: 25px;
        letter-spacing: 0.3;
        letter-spacing: 0.3px;
        line-height: 1.1;
        padding-bottom: 25px; }
    #mainContent .content-images-list {
      position: relative; }
      #mainContent .content-images-list-item {
        position: absolute; }
      #mainContent .content-images-list .img-first {
        height: 250px;
        width: 60%;
        top: -2%;
        left: 25%; }
        #mainContent .content-images-list .img-first img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-second {
        width: 60%;
        height: 320px;
        top: 36%;
        left: 3%; }
        #mainContent .content-images-list .img-second img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-third {
        left: 66%;
        top: 30%;
        width: 35%;
        height: 550px; }
        #mainContent .content-images-list .img-third img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      #mainContent .content-images-list .img-fourth {
        top: 75%;
        left: 18%;
        width: 45%;
        height: 230px; }
        #mainContent .content-images-list .img-fourth img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }

.content-header h1 {
  font-size: 65px;
  color: #55565a;
  line-height: 1.1; }

.main-btn {
  margin-top: 10%; }
  .main-btn a {
    font-size: 1.2em;
    letter-spacing: 0.45px;
    position: relative; }
    .main-btn a::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: #775c50;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0; }
    .main-btn a:hover::after {
      opacity: 1;
      -webkit-transition: 0.4s linear;
      transition: 0.4s linear;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px); }

/*# sourceMappingURL=main.css.map */