%header-common-style {
  font-size: 20px;
  color: white;
}

%btn-style {
  background-color: transparent;
  border: none;
  outline: none;
}

#headerArea {
  width: 100%;
  position: fixed;
  // height: 125px;
  z-index: 1000;
  padding-bottom: 10px;
  @include transition(0.1 ease);
  // nav {
  .menu {
    .open-btn {
      @extend %btn-style;
      @extend %header-common-style;
      margin-left: 5px;
      i {
        @extend %header-common-style;
      }
    }
  }
  // }
  .logo {
    &-img {
      box-sizing: border-box;
      padding-top: 15px;
      img {
        width: 100%;
      }
    }
  }
  .reservation {
    ul {
      padding-right: 20px;
      li {
        padding-left: 10px;
        a {
          @extend %header-common-style;
        }
      }
    }
  }

  .small-header {
    display: none;
    padding-top: 10px;
    .header-wrapper {
      padding-bottom: 10px;
      .menu {
        .open-btn-white {
          @extend %btn-style;
          font-size: 25px;
          color: white;
        }
      }
      .logo {
        .logo-photo {
          width: 100%;
          img {
            width: 30%;
          }
        }
      }
      .call-us {
        .call-btn {
          @extend %btn-style;
          font-size: 25px;
          color: white;
        }
      }
    }
    .booking {
      background-color: white;
      padding: 7px 0;
      a {
        color: $color-roman-coffee;
      }
    }
  }
}

.scrolled {
  background-color: white;
  box-shadow: 0 0 7px 0px #b7b2b2;
  // nav {
  .menu {
    .open-btn {
      color: $color-roman-coffee !important;
      .icon-menu {
        color: $color-roman-coffee !important;
      }
    }
  }
  // }
  .reservation {
    ul {
      li {
        a {
          color: $color-roman-coffee !important;
        }
      }
    }
    .btn-booking {
      border-bottom: 1px solid $color-roman-coffee;

      a {
        color: $color-roman-coffee !important;
      }
    }
  }
}

.left-side-nav {
  display: none;
}

.header-small {
  // padding: 10px;
  background-color: $color-roman-coffee;
}
