%header-common-style {
  font-size: 20px;
  color: white;
}

#headerArea {
  position: fixed;
  height: 125px;
  z-index: 1000;
  @include transition(0.1 ease);
  nav {
    .menu {
      i {
        @extend %header-common-style;
      }
      span {
        @extend %header-common-style;

        margin-left: 5px;
      }
    }
  }
  .logo {
    &-img {
      box-sizing: border-box;
      padding-top: 15px;
      img {
        width: 100%;
      }
    }
  }
  .reservation {
    ul {
      li {
        padding: 0 10px;
        a {
          @extend %header-common-style;
        }
      }
    }
    h1 {
      padding-left: 30px;
      a {
        @extend %header-common-style;

        &::after {
          content: "";
          position: absolute;
          width: 7%;
          height: 2px;
          background-color: white;
          right: 10%;
          top: 70px;
        }
      }
    }
  }
}

.scrolled {
  background-color: white;
  box-shadow: 0 0 7px 0px #b7b2b2;
}
